---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Torrent API
  jackett:
    image: linuxserver/jackett
    restart: unless-stopped
    volumes:
      - /var/homelabos/jackett/config:/config
      - /var/homelabos/jackett/downloads:/downloads
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:jackett.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=9117"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:jackett.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9117"
{% endif %}
